@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}

/* header section start */

header {
    height: 100vh;
    background-image: url('back.jpg');
    background-size: cover;
    box-sizing: border-box;
}


.head-plot-float {
    margin-top: -10%;
}

.head-row {
    padding: 0 2%;
}

.head-form {
    padding: 0 0 0 25%;
}

.form-span-bg {
    background-color: #17A2B8;
}

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    box-sizing: border-box;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, -15px);
    }
    100% {
        transform: translate(0, 0px);
    }
}

/* header section start */

/* whatapp */

#sd-bar-wht {
    position: fixed;
    bottom: 5%;
    right: 2%;
    z-index: 999;
}

.sd-bar-wht {
    background: #0dbf43;
    border-radius: 2rem;
    padding: 10px 12px 10px;
    height: 50px;
    width: 50px;
    color: aliceblue;
}

.sd-bar-wht i {
    color: aliceblue;
    font-size: 20px;
}

/* phone */

#sd-bar-phn {
    position: fixed;
    bottom: 5%;
    left: 2%;
    z-index: 999;
}

.sd-bar-phn {
    border-radius: 2rem;
    padding: 10px 12px 10px;
    height: 50px;
    width: 50px;
    color: whitesmoke;
}

.sd-bar-phn i {
    color: aliceblue;
    font-size: 20px;
}

.sd-bar-phn a, a:hover, a:focus, a:active {
    text-decoration: none !important;
}

/* whats app end */

/* navbar fixed start */

.nav-section-fix {
    box-shadow: 0px 1px 8px rgb(0 0 0 / 40%);
    position: sticky;
    top: 0;
    z-index: 997;
    background: #fff;
}

.nav-div-fixed {
    font-weight: 600;
}

.nav-div-fixed ul {
    list-style-type: none;
}

.nav-div-fixed ul .nav-a {
    color: #106eea;
}

.nav-div-fixed a {
    text-decoration: none;
    display: block;
    position: relative;
    color: #222222;
    transition: 0.3s;
    font-size: 15px;
    font-weight: 600;
    padding: 0 3px;
}

.nav-div-fixed>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #106eea;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
}

.nav-div-fixed a:hover:before, .nav-div-fixed li:hover>a:before, .nav-div-fixed .active>a:before {
    visibility: visible;
    width: 100%;
}

.nav-div-fixed a:hover, .nav-div-fixed .active>a, .nav-div-fixed li:hover>a {
    color: #106eea;
}

.nav-div-fixed .nav-no-border-bottom:hover:before, .nav-div-fixed li:hover>.nav-no-border-bottom:before, .nav-div-fixed .active>.nav-no-border-bottom:before {
    visibility: hidden;
}

/* navbar fixed end */

/* mobile navigation start */

.mob-section-nav {
    box-shadow: 0px 1px 8px rgb(0 0 0 / 40%);
    position: sticky;
    top: 0;
    z-index: 997;
    background: #fff;
}

.mob-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mob-nav a {
    text-decoration: none;
}

/* mobile navigation start */

/* ready clubhouse start */

.club-item i {
    font-size: 1.2rem;
    background-color: #95CBED;
    border-radius: 50%;
    color: #fff;
    padding: 0.5rem;
    margin-right: 0.8rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    z-index: 800;
}

.club-item {
    padding-bottom: 0.8rem;
}

.club-deco-line-pink {
    position: relative;
}

.club-deco-line-pink :after {
    position: absolute;
    left: 9%;
    top: 60%;
    content: '';
    border-left: 2px dotted #C5A37E;
    height: 250px;
}

.club-heading {
    font-size: 2.5rem;
    font-family: 'Orelega One', cursive;
}

.club-heading p span {
    color: #C5A37E;
}

/* clubhouse end */

/* property choice section start */

.property-padding {
    padding: 3% 18% 0 18%;
    background-color: #F5F5F5;
}

.property-choice-color {
    font-size: 2.5rem;
    font-family: 'Orelega One', cursive;
}

.property-choice-color p {
    color: #C5A37E;
}

.property-choice-color p span {
    color: black;
}

/* property choice section end */

/* master plan */

.master-plan {
    font-size: 2.5rem;
    font-weight: 600;
    border-bottom: 4px solid #7e83c5;
}

.master-plan span {
    color: #C5A37E;
}

.master-plan-col2-padding {
    margin-left: -3.5rem;
    padding-right: 4.5rem;
}

.tab-pane {
    font-size: 18px;
    font-weight: 400;
}

/* master plna end */

/* social plan start */

.social-club-background {
    background: url('bg-good-life.jpg') no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;
    margin-top: 16%;
}

.social-img img {
    position: absolute;
    top: -20%;
}

.social-heading {
    color: #154889;
    font-size: 2.4rem;
    font-family: 'Orelega One', cursive;
}

.social-heading span {
    position: absolute;
    top: -18%;
    border-bottom: 3px solid #154889;
}

/* social plan end */

/*gallay section start*/

.gallery {
    background-color: #F0F8FF;
}

.gallery div span{
    font-family: 'Orelega One', cursive;
    font-size: 2.5rem;
    color: #C5A37E;
}

.gallery img {
    width: 100%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.5s;

}
.gallery img:hover{
    transform: scale(1.06);
    filter: brightness(75%)
}

#gallery-modal .modal-img {
    width: 100%;
}

.btn-on-body button {
    /* background: white; */
    color: black;
    border: none;
    font-size: 20px;
    position: absolute;
    top: 5%;
    right: 3%;
}

.btn-on-body button:hover {
    filter: opacity(70%)
}

/*gallary section end*/

/* map section start */
.map-bg{
    background: #F5F5F5;
    
  }
  .map-1{
    color: #444444;
  }
  .map-1 strong{
    font-size: 2rem;
    font-weight: 700;
    color: #D2B48C;

  }
  .map-1 span{
    font-size: 1rem;
    color: black;
  }
  .map-1 p{
    font-size: 1.1rem;
    line-height: 1.3;
    font-weight: 500;
  }
  .map-1 ul{
    font-size: 1rem;
    font-weight: 500;
    line-height: 2;
  }
  .map-how-to-reach-heading{
      color: #D2B48C;
      font-size: 2.5rem;
      font-weight: 600;
  }
  .map-how-to-reach-heading p span{
      color: black;
  }
  /* map section end */

/* media queries */

@media (min-width: 768px) {
    /* phone section start */
    #sd-bar-phn {
        display: none;
    }
    /* phone section end */
    .mob-section-nav {
        display: none;
    }
}

@media (max-width: 768px) {
    /* header section start */
    header {
        height: 55rem;
    }
    .head-plot-float {
        margin-top: 0;
    }
    .head-plot-float {
        margin-top: -5rem;
    }
    .head-row {
        padding: 0;
    }
    .head-form {
        padding: 0 8%;
    }
    #sd-bar-wht {
        position: fixed;
        bottom: 1%;
        right: 1%;
        z-index: 999;
    }
    #sd-bar-phn {
        position: fixed;
        bottom: 1%;
        right: 1%;
        z-index: 998;
    }
    /* header section end */
    /* mobile nav start */
    .nav-section-fix {
        display: none;
    }
    /* mobile nav end */
    /* property choice start */
    .property-padding {
        padding: 2% 0;
    }
    /* property choice end */
    /* master plan section start */
    .master-plan-col2-padding {
        margin-left: 0;
        padding-right: 0;
    }
    /* master plan section end */
    /* social club start */
    .social-club-background {
        position: static;
    }
    .social-img img {
        position: static;
        margin: 5% 0;
    }
    .social-heading span {
        position: static;
    }
    .social-heading {
        margin-bottom: 10%;
    }
    /* social club end */
    /* gallary section start */
    .btn-on-body button {
        top: 8%;
        right: 5%;
    }
    /* gallary section end */
}