@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}

/* header section start */

header {
    height: 100vh;
    background-image: url('back.jpg');
    background-size: cover;
    box-sizing: border-box;
}

.head-plot-float {
    margin-top: -10%;
}

.head-row {
    padding: 0 2%;
}

.head-form {
    padding: 0 0 0 25%;
}

.form-span-bg {
    background-color: #17A2B8;
}

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    box-sizing: border-box;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, -15px);
    }
    100% {
        transform: translate(0, 0px);
    }
}

/* header section start */

/* whatapp */

#sd-bar-wht {
    position: fixed;
    bottom: 5%;
    right: 2%;
    z-index: 999;
}

.sd-bar-wht {
    background: #0dbf43;
    border-radius: 2rem;
    padding: 10px 12px 10px;
    height: 50px;
    width: 50px;
    color: aliceblue;
}

.sd-bar-wht i {
    color: aliceblue;
    font-size: 20px;
}

/* phone */

#sd-bar-phn {
    position: fixed;
    bottom: 5%;
    left: 2%;
    z-index: 999;
}

.sd-bar-phn {
    border-radius: 2rem;
    padding: 10px 12px 10px;
    height: 50px;
    width: 50px;
    color: whitesmoke;
}

.sd-bar-phn i {
    color: aliceblue;
    font-size: 20px;
}

.sd-bar-phn a, a:hover, a:focus, a:active {
    text-decoration: none !important;
}

/* whats app end */

/* navbar fixed start */

.nav-section-fix {
    box-shadow: 0px 1px 8px rgb(0 0 0 / 40%);
    position: sticky;
    top: 0;
    z-index: 997;
    background: #fff;
}

.nav-div-fixed {
    font-weight: 600;
}

.nav-div-fixed ul {
    list-style-type: none;
}

.nav-div-fixed ul .nav-a {
    color: #106eea;
}

.nav-div-fixed a {
    text-decoration: none;
    display: block;
    position: relative;
    color: #222222;
    transition: 0.3s;
    font-size: 15px;
    font-weight: 600;
    padding: 0 3px;
}

.nav-div-fixed>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #106eea;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
}

.nav-div-fixed a:hover:before, .nav-div-fixed li:hover>a:before, .nav-div-fixed .active>a:before {
    visibility: visible;
    width: 100%;
}

.nav-div-fixed a:hover, .nav-div-fixed .active>a, .nav-div-fixed li:hover>a {
    color: #106eea;
}

.nav-div-fixed .nav-no-border-bottom:hover:before, .nav-div-fixed li:hover>.nav-no-border-bottom:before, .nav-div-fixed .active>.nav-no-border-bottom:before {
    visibility: hidden;
    width: 100%;
}

/* navbar fixed end */

/* mobile navigation start */
.mob-section-nav{
    box-shadow: 0px 1px 8px rgb(0 0 0 / 40%);
    position: sticky;
    top: 0;
    z-index: 997;
    background: #fff;
}
.mob-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mob-nav a{
    text-decoration: none;

}
/* mobile navigation start */

/* media queries */

@media (min-width: 768px) {
    #sd-bar-phn {
        display: none;
    }
}

@media (max-width: 768px) {
    /* header section start */
    header {
        height: 55rem;
    }
    .head-plot-float {
        margin-top: 0;
    }
    .head-plot-float {
        margin-top: -5rem;
    }
    .head-row {
        padding: 0;
    }
    .head-form {
        padding: 0 8%;
    }
    #sd-bar-wht {
        position: fixed;
        bottom: 1%;
        right: 1%;
        z-index: 999;
    }
    #sd-bar-phn {
        position: fixed;
        bottom: 1%;
        right: 1%;
        z-index: 998;
    }
    /* header section end */

    /* mobile nav start */
    .nav-section-fix{
        display: none;
    }

    /* mobile nav end */
}